<div class="sidebar-container">
  <div class="title-container">
    <span>Bernard | Smart Apartment Data</span>
  </div>
  <form class="filter-container" [formGroup]="form" (ngSubmit)="onFilter()">
    <div class="bedrooms-filter">
      <span>Bedrooms: </span>
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="studio"
          type="checkbox"
          value=""
          id="studio"
        />
        <label class="form-check-label" for="studio"> Studio </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="oneBed"
          type="checkbox"
          value=""
          id="one"
        />
        <label class="form-check-label" for="one"> 1 Bed </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="twoBed"
          type="checkbox"
          value=""
          id="2"
        />
        <label class="form-check-label" for="2"> 2 Bed </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="threeBed"
          type="checkbox"
          value=""
          id="3"
        />
        <label class="form-check-label" for="3"> 3 Bed </label>
      </div>
    </div>
    <div class="rent-filter" *ngIf="rentRange$ | async as range">
      <label for="rent-range" class="form-label">
        Rent:
        <b *ngIf="form.controls['range'].value; else noRentFilter"
          >{{ range.min | currency }} -
          {{ form.controls["range"].value | currency }}
        </b>
        <ng-template #noRentFilter>—</ng-template>
      </label>
      <input
        id="rent-range"
        class="form-range"
        formControlName="range"
        type="range"
        [min]="range.min"
        [max]="range.max"
      />
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
  <div class="selection-container">
    <div
      class="selection-item"
      *ngFor="let item of mapItems$ | async"
      (click)="onSelectMapItem(item)"
    >
      <div class="item-info">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-address">
          {{ item.streetAddress }} {{ item.city }} {{ item.state }}
        </div>
        <div class="item-floorplan">
          <div class="floor" *ngFor="let fp of item.floorplans">
            <i class="bi" [ngClass]="'bi-' + fp.bedrooms + '-square-fill'"></i>
            <span>{{ fp.price | currency }}</span>
          </div>
        </div>
        <span class="amenities"
          >{{ item.highValueAmenities.length }} High value amenities</span
        >
      </div>
      <img class="item-image" [src]="item.photo" alt="property_photo" />
    </div>
  </div>
</div>
